<h1>About</h1>

<p>Born in Hong Kong but live in Brooklyn &mdash; in fact, I've been here my whole life. Anything beats this city's train system.</p>

<h2>Tidbits</h2>

<ul>
    <li>I was 10 when I received my first computer (Compaq Presario 5050).</li>
    <li>I was 12 when I built my very first website. It was about Pokémon.</li>
    <li>I was 16 when I got my first full time job building websites for schools all across the country.</li>
    <li>
        Over the next decade, I grew my skills as I searched for a company that shared my views on culture and hard work.
        <p>I went through agencies, corporate finance, teaching, mentoring, freelance, and many more industries before I arrived at <a href="https://sportsrecruits.com/" target="_blank">SportsRecruits</a>.</p>
        <p>Being successful at a startup hinges on one's ability to deliver <strong>efficiently</strong> and <strong>effectively</strong>. It pushes you to find creative solutions to balance the necessity of reducing technical debt and choosing your battles wisely with opportunity cost.</p>
    </li>
</ul>

<h2>Career</h2>

<p>I started out specialized in front end development, picking up design and learning color theory, grids, and typography along the way. As time went by, I felt like I was missing out on a lot by being that specialized.</p>

<p>In time, I learned about back end, mobile, cloud architecture, automation, scalability, and performance optimization.</p>

<p>Combined with my time as a teaching assistant and mentoring junior developers, I'm now at a point where I am confident and equipped to solve challenging technical problems, inspire others to be their best, and help companies grow their business.</p>


<p><a href="https://linkedin.com/in/patrickkng" target="_blank">See my work history on LinkedIn</a></p>
<p><a href="https://twitter.com/patrickkng" target="_blank">Give me a shout on Twitter</a></p>