<h1>Hi, I'm Patrick</h1>
<p>I'm currently at <a href="https://kustomer.com" target="_blank">Kustomer</a> as an Engineering Manager on the Trust &amp; Velocity team tackling infrastructure challenges involving scalability and reliability.</p>
<p>Previously, I led the software engineering team at <a href="https://sportsrecruits.com" target="_blank">SportsRecruits</a> as the VP of Engineering building an online platform that helps athletes get recruited by college coaches.</p>
<p>Before that, I worked at <a href="https://etrade.com/" target="_blank">E*TRADE</a> as a Prototype Developer to build a proof of concept prototype of their next generation trading platform.</p>

<p class="social"><a href="https://github.com/patrickng" target="_blank">Github</a> | <a href="https://keybase.io/patrickng" target="_blank">Keybase</a> | <a href="https://linkedin.com/in/patrickkng" target="_blank">LinkedIn</a> | <a href="https://twitter.com/patrickkng" target="_blank">Twitter</a></p>
