<h1>Hi, I'm Patrick</h1>
<p>I lead the software engineering team at <a href="https://sportsrecruits.com" target="_blank">SportsRecruits</a> as the VP of Engineering. We're empowering student-athletes to pursue their dreams.</p>
<p>Previously, I worked as a Prototype Developer at <a href="https://etrade.com/" target="_blank">E*TRADE Financial</a> where I worked on a team to build the prototype of their next generation trading platform.</p>
<p>For consulting requests, please reach out to "me AT patrick DOT ng".</p>
<p><a href="/about">Learn more about me</a></p>
<p><a href="/resume">View my résumé</a></p>