<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="Patrick Ng works as the VP of Engineering at SportsRecruits. He is experienced in software engineering team management, full stack web development, product engineering, cloud architecture and infrastructure, and devops. He is open to consulting requests as his availability allows.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link href="/stylesheets/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400|Lora|Open+Sans:400,600" rel="stylesheet">
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-118809929-1', { 'allowAnchor': true }); ga('send', 'pageview', { 'page': location.pathname + location.search + location.hash })
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <div class="wrapper">
        <div class="content-wrapper">
            {{{body}}}
        </div>
    </div>
</body>

</html>
